<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="container">
        <h1>Products</h1>

				<div th:if="${isAdmin}">
        <a href="/products/add" class="button">Add Product</a>
			</div>

			<div th:if="${!isAdmin}" class="warning-message">
				<p style= "color: #b61d1d;" >Note: You are in view-only mode. Admin rights are required for modifications.</p>
		</div>
		
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Shop</th>
                    <th th:if="${isAdmin}">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.shop.shopName}"></td>
                    <td th:if="${isAdmin}" class="actions">
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="button edit">Edit</a>
                        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="button delete">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/home" class="button back">Back to Home</a>
    </div>
</body>
</html>
